@import url("./__title/card__title.css");
@import url("./__image/card__image.css");
@import url("./__overlay/card__overlay.css");
@import url("./__text/card__text.css");
.card {
  width: 350px;
  height: 350px;

  position: relative;
}
