@import url("./vendor/fonts.css");
@import url("./components/header/header.css");
@import url("./components/about/about.css");
@import url("./components/slogan/slogan.css");
@import url("./components/footer/footer.css");
@import url("./components/seasons/seasons.css");
@import url("./components/card/card.css");
@import url("./components/heroes/heroes.css");
@import url("./components/seasonHeader/seasonHeader.css");
@import url("./components/header/__series/header__series.css");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
